body {
  font-family: 'Nunito', sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffeead;
  margin: 20px;
  font-size: 24px;
  line-height: 2;
}

div {
  display: flex;
  align-items: center;
}

button {
  margin-left: 25px;
  border: none;
  background: none;
  font-size: 24px;
  font-weight: bold;
  color: #ff6f69;
}
